.glassList {
    position: relative;
    z-index: 5;
    width: 1000px;
    height: 200px;
    background-color: white;
    margin: auto;
}
.img {
    width: 110px;
    border: 1px solid black;
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
}
