.model {
    position: relative;
    z-index: 2;
    display: inline-block;
}
img {
    width: 220px;
    margin: 50px 120px;
}
.glassTryOn {
    width: 110px;
    height: 40px;
    position: absolute;
    left: 10%;
    top: 16%;
    z-index: 5;
    opacity: 0.9;
}
.modelOverlay {
    height: 40px;
    position: absolute;
    width: 48%;
    bottom: 13%;
    left: 26%;
    z-index: 5;
    opacity: 0.5;
    background-color: orange;
    height: 27%;
}
.desc {
    font-size: 14px;
    color: white;
    font-weight: 700;
}
.name {
    color: blueviolet;
}
